li {
    list-style-type: none;
}

#l_d {
    /*头部*/
    width: 100%;
    height: 80px;
    /*太极图*/

    #l_h_d {
        /*图标栏*/
        width: 200px;
        height: 100%;
        border: black dotted 1px;
        background-color: #282828;
        float: left;
        align-content: center;

        #lh_td {
            /*太极背框*/
            --circle: 10px;
            width: calc(8 * var(--circle));
            height: calc(8 * var(--circle));
            position: relative;
            animation: move 1s infinite linear;
            margin-left: 60px;

            #lh_td_d {
                /*太极背板*/
                width: calc(8 * var(--circle));
                height: calc(8 * var(--circle));
                border-radius: 50%;
                background-color: #000;
            }

            #lh_td_b {
                /*太极大白*/
                width: calc(4 * var(--circle));
                height: calc(8 * var(--circle));
                background-color: white;
                border-top-right-radius: calc(5 * var(--circle));
                border-bottom-right-radius: calc(5 * var(--circle));
                position: absolute;
                top: 0;
                left: calc(4 * var(--circle));
            }

            #lh_td_zh {
                /*太极中黑*/
                width: calc(4 * var(--circle));
                height: calc(4 * var(--circle));
                background-color: black;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: calc(2 * var(--circle));
            }


            #lh_td_zb {
                /*太极中白*/
                width: calc(4 * var(--circle));
                height: calc(4 * var(--circle));
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: calc(4 * var(--circle));
                left: calc(2 * var(--circle));

            }


            #lh_td_xb {
                /*太极小白*/
                width: calc(2 * var(--circle));
                height: calc(2 * var(--circle));
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: var(--circle);
                left: calc(3 * var(--circle));
            }


            #lh_td_xh {
                /*太极小黑*/
                width: calc(2 * var(--circle));
                height: calc(2 * var(--circle));
                background-color: black;
                border-radius: 50%;
                position: absolute;
                top: calc(5 * var(--circle));
                left: calc(3 * var(--circle));
            }
        }
    }


    #l_c_d {
        /*菜单栏*/
        width: 1280px;
        height: 100%;
        float: left;
        background-color: #2b3234;
        color: whitesmoke;

        #lc_du {
            /*菜单栏*/
            width: 80px;
            height: 1200px;
            transform-origin: top right;
            transform: rotate(-90deg);
            scrollbar-width: none;
            -ms-overflow-style: none;
            overflow-y: scroll;
            padding: 0;

            .lc_du_l {
                width: 79px;
                height: 150px;
                list-style-type: none;
                border-bottom: white 1px solid;
            }

            .lc_du_l:hover {
                background-color: #1a1d20;
            }

            .lc_du_l > span {
                display: block;
                text-align: center;
                line-height: 80px;
                width: 150px;
                height: 80px;
                transform-origin: 40px 50%;
                transform: rotate(90deg);
            }
        }

        #lc_du::-webkit-scrollbar {
            display: none;
        }
    }


    #l_f_d {
        /*个人信息栏*/
        width: calc(100% - 1480px);
        height: 100%;
        float: left;
        background-color: #495057;

        #lf_dp {
            margin-top: 20px;
            margin-left: 40px;

            #lf_dp_i {
                width: 80px;
                height: 40px;
                border-radius: 10px;
                background-color: #76797c;
            }

            #lf_dp_rs {
                display: inline-block;
                width: 100px;
            }
        }
    }
}

#r_d {
    /*内容栏*/
    width: 100%;
    height: 839px;

    #rh_ld {
        /*右侧菜单栏*/
        width: 200px;
        height: 100%;
        background-color: #282828;
        float: left;

        #rh_ld_u {
            height: 720px;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overflow-y: scroll;
            border-bottom: black 1px solid;

            .rh_ld_ul {
                width: 80%;
                height: 60px;
                text-align: center;
                line-height: 60px;
                color: white;
                background-color: #282828;
                border-bottom: black solid 1px;

                .rh_ld_ul > a {
                    color: #ddd;
                    text-decoration: none;
                }
            }

            .rh_ld_ul:hover {
                background-color: #1a1d20;
            }
        }

        #rh_ld_u::-webkit-scrollbar {
            display: none;
        }
    }

    #rh_rd {
        width: calc(100% - 200px);
        height: 100%;
        float: left;

        #r_b_d {
            /*横幅栏*/
            width: 100%;
            height: 30px;
            background-color: #c3c2c254;


            #r_b_d > span {
                display: inline-block;
            }
        }

        #r_c_d {
            /*内容栏*/
            width: 100%;
            height: calc(100% - 30px);
            background-color: #a99f9f;

            .rc_di {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



