{% extends 'back/back_base.html' %}
{% block title %}应用详情{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/back/employ/app_list.css' %}">
{% endblock %}
{% block content %}
    <ul id="bu">
        <li class="bu_l">
            <p class="bu_lp">第一个</p>
            <ul class="bu_lu">
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">天线</span>
                </li>
                <li class="bu_lu_l">
                    <img src="" alt="" class="bu_lu_li">
                    <span class="bu_lu_ls">一般</span>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block foot %}

{% endblock %}