{% extends 'base.html' %}

{% block title %}
    登录界面
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="main">
        <!-- 切换功能区 -->
        <div class="switchWrapper flexCenter">
            <div class="btn flexCenter">
                <div class="text flexCenter">去登录</div>
                <div class="text flexCenter">去注册</div>
            </div>
        </div>

        <!-- 表单区域 -->
        <div class="outerBox">
            <div class="container flexCenter">
                <div class="signInBox">
                    <table>
                        <tr class="log" style="display: inline">
                            <td>账号：</td>
                            <td>
                                <label>
                                    <input id="account" type='text' placeholder="账号"/>
                                </label>
                            </td>
                        </tr>
                        <tr class="log" style="display: inline">
                            <td>密码：</td>
                            <td>
                                <label>
                                    <input id="password" type='password' placeholder="密码"/>
                                </label>
                            </td>
                        </tr>
                        <tr class="log reg" style="display: none">
                            <td>昵称：</td>
                            <td>
                                <label>
                                    <input id="nick_name" type='text' placeholder="昵称"/>
                                </label>
                            </td>
                        </tr>
                        <tr class="log reg" style="display: none">
                            <td>邮箱：</td>
                            <td>
                                <label>
                                    <input id="email" type='email' placeholder="邮箱"/>
                                </label>
                            </td>
                        </tr>
                        <tr class="log reg" style="display: none">
                            <td>生日：</td>
                            <td>
                                <label>
                                    <input id="birthday" type='date' placeholder="生日"/>
                                </label>
                            </td>
                        </tr>
                        <tr class="log reg" style="display: none">
                            <td>性别：</td>
                            <td>
                                <label style="padding-left: 20px">
                                    <input style="margin-top: 15px" type="radio" value="1" name="sex" checked/>男
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input style="margin-top: 15px" type="radio" value="0" name="sex"/>女
                                </label>
                            </td>
                        </tr>
                        <tr class="log" style="display: inline">
                            <td></td>
                            <td>
                                <label><input id="but_or_reg" type="button" value="登录" onclick=""></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block foot %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
